.input-text-label5 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  
}/*title*/
.button31inp{
  margin-top: 10px;
  position: relative;
  width: 80px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: center;
  
}

.type-here5 {
  position: relative;
  width:inherit;
  max-width: 370px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: inherit;
  display: inline-block;
  padding: 10px;
  border-style: solid;
  border-width: 0.2px;
  border-radius: 5px;
  
}


.credentials5,
.username5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.username5 {
  align-self: stretch;
  gap: var(--gap-5xs);
  width: 370px;
}
.credentials5 {
  width: 400px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-400);
  font-family: var(--font-noto-sans);
}

