.input-text-label5 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.icon7,
.type-here5 {
  height: 24px;
  position: relative;
}
.type-here5 {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon7 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-field5 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--main-color-white);
  padding: var(--padding-base);
}
.credentials5,
.input-field5,
.username5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.username5 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.credentials5 {
  width: 400px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-400);
  font-family: var(--font-noto-sans);
}
