.dropdown-title5 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.dropdowns8,
.input-field-formselect5 {
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  color: var(--w-background);
}
.dropdowns8 {
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
}
