.dropdown-title3 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.dropdowns4,
.input-field-formselect3 {
  align-self: stretch;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  color: var(--w-background);
}
.dropdowns4 {
  display: flex;
  contain: content;
  width: 500px;
  flex-direction: row;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xs);
}
