.logo12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 92px;
  cursor: pointer;
}
.notificationsstyle4-icon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.notificationsstyle4-icon3,
.person-icon3,
.reorder-threeoutline-icon3 {
  height: 30px;
  width: 30px;
  position: relative;
  min-height: 30px;
}
.person-icon3 {
  cursor: pointer;
}
.reorder-threeoutline-icon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.icons3,
.navbar6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-30xl);
  gap: var(--gap-lgi);
}
.navbar6 {
  align-self: stretch;
  background-color: var(--main-color-white);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-11xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--d9d9d94);
  font-family: var(--font-roboto);
}
