.background25 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-500);
}
.logo6 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--d9d9d94);
  text-align: center;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.logo-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.dropdown-title,
.input-field-formselect {
  align-self: stretch;
  font-family: var(--font-noto-sans);
}
.dropdown-title {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-weight: 600;
  color: var(--color-darkslategray-600);
  text-align: left;
}
.input-field-formselect {
  font-size: var(--font-size-base);
  color: var(--w-background);
  max-width: 100%;
}
.dropdowns {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.credentials-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xl-5) var(--padding-9xs-5);
  box-sizing: border-box;
  gap: 7px 12px;
  min-height: 315px;
  max-width: 100%;
  z-index: 1;
}
.input-field-instance {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 24.5px;
  font-family: var(--font-roboto);
  color: var(--d9d9d94);
  text-align: center;
}
.background26 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--d9d9d94);
  box-sizing: border-box;
  z-index: 1;
}
.button-container,
.button18,
.registeration-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-8) var(--padding-base) var(--padding-3xs-7)
    var(--padding-mid);
  background-color: transparent;
  flex: 1;
  position: relative;
  z-index: 1;
}
.button-container,
.registeration-form {
  width: 153px;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.registeration-form {
  margin: 0;
  width: 980px;
  flex-direction: column;
  padding: var(--padding-42xl) var(--padding-59xl) var(--padding-110xl)
    var(--padding-64xl);
  position: relative;
  max-width: 100%;
  z-index: 2;
}
@media screen and (max-width: 975px) {
  .registeration-form {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo6 {
    font-size: var(--font-size-lgi);
  }
}
